<mat-tab-group class="tabs">
  <mat-tab label="Información">
    <section class="informacion">
      <article class="mascota">
        <h3>{{ mascota.nombre_mascota }}</h3>
        <ul>
          <li><strong>Tipo:</strong> {{ mascota.id_tipo }}</li>
          <li>
            <strong>Fecha de nacimiento:</strong>

            {{ mascota.fecha_nac_mascota | formatDateTime }}
          </li>
          <li><strong>Número de chip:</strong> {{ mascota.nChip_mascota }}</li>
          <li><strong>Raza:</strong> {{ mascota.raza_mascota }}</li>
        </ul>
      </article>
      <article>
        <h4>
          <strong>Dueño/a:</strong> {{ usuario.nombre_usuario }}
          {{ usuario.apellidos_usuario }}
        </h4>
        <ul>
          <li><strong>DNI:</strong> {{ usuario.dni_usuario }}</li>
          <li><strong>Teléfono:</strong> {{ usuario.telefono_usuario }}</li>
          <li><strong>Email:</strong> {{ usuario.email_usuario }}</li>
        </ul>
      </article>
    </section>
  </mat-tab>
  <mat-tab label="Historiales">
    <mat-expansion-panel
      *ngFor="let historial of historiales"
      class="historiales"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><h5>
            {{ historial.motivo }}
            <span>({{ historial.fecha_y_hora | formatDateTime }})</span>
          </h5></mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>{{ historial.anotaciones }}</p>
    </mat-expansion-panel>
  </mat-tab>
</mat-tab-group>
