<section class="container">
  <!-- <article class="logo">
    <img
      src="../../../../assets/img/logo_apaisado.png"
      alt="Logo Del Campo"
      class="logo-img"
    />
  </article> -->

  <article class="form">
    <mat-stepper
      [orientation]="orientation ? 'vertical' : 'horizontal'"
      [linear]="true"
      #stepper
    >
      <mat-step [stepControl]="datosForm">
        <form [formGroup]="datosForm">
          <ng-template matStepLabel>Datos del usuario</ng-template>

          <!-- Campo de nombre -->
          <div class="form-field">
            <label for="nombre_usuario">Nombre*</label>
            <div class="wrapper">
              <input
                id="nombre_usuario"
                type="text"
                placeholder="Introduce tu nombre"
                formControlName="nombre_usuario"
              />
            </div>
          </div>

          <!-- Campo de apellidos -->
          <div class="form-field">
            <label for="apellidos_usuario">Apellidos*</label>
            <div class="wrapper">
              <input
                id="apellidos_usuario"
                type="text"
                placeholder="Introduce tus apellidos"
                formControlName="apellidos_usuario"
              />
            </div>
          </div>

          <!-- Campo de DNI -->
          <div class="form-field">
            <label for="dni_usuario">DNI*</label>
            <div class="wrapper">
              <input
                id="dni_usuario"
                type="text"
                placeholder="Introduce tu DNI"
                formControlName="dni_usuario"
                (ngModelChange)="validarDatos($event, 'dni')"
              />
            </div>
            <span
              *ngIf="datosForm.get('dni_usuario')?.hasError('dniInvalido')"
              class="error"
            >
              DNI ya registrado
            </span>
          </div>

          <!-- Campo de apellidos -->
          <div class="form-field">
            <label for="telefono_usuario">Teléfono*</label>
            <div class="wrapper">
              <input
                id="telefono_usuario"
                type="tel"
                placeholder="Introduce tu dirección"
                formControlName="telefono_usuario"
                pattern="[0-9]{9}"
              />
            </div>
          </div>
          <div class="form-field-button">
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="loginForm">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Datos de inicio de sesión</ng-template>
          <!-- Campo de email -->
          <div class="form-field">
            <label for="email_usuario">Email*</label>
            <div class="wrapper">
              <input
                id="email_usuario"
                type="email"
                placeholder="Introduce tu email"
                formControlName="email_usuario"
                [ngClass]="{
                  invalid: email_usuario?.invalid && email_usuario?.touched
                }"
                (ngModelChange)="validarDatos($event, 'email')"
              />
              <span class="icono-input"><mat-icon>email</mat-icon></span>
            </div>
            <span
              class="error"
              *ngIf="
                email_usuario?.hasError('required') && email_usuario?.touched
              "
            >
              El email es obligatorio
            </span>
            <span
              class="error"
              *ngIf="
                email_usuario?.hasError('email') &&
                !email_usuario?.hasError('required')
              "
            >
              Introduce un email válido
            </span>
            <span
              *ngIf="loginForm.get('email_usuario')?.hasError('emailInvalido')"
              class="error"
            >
              Email ya registrado
            </span>
          </div>

          <!-- Campo de contraseña -->
          <div class="form-field">
            <label for="password_usuario">Contraseña*</label>
            <div class="wrapper">
              <input
                id="password_usuario"
                [type]="hide() ? 'password' : 'text'"
                placeholder="Introduce tu contraseña"
                formControlName="password_usuario"
                [ngClass]="{
                  invalid:
                    password_usuario?.invalid && password_usuario?.touched
                }"
              />
              <button
                type="button"
                class="toggle-visibility"
                (click)="clickEvent($event)"
                [attr.aria-label]="'Ocultar contraseña'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon class="icono-input">{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            <span
              class="error"
              *ngIf="
                password_usuario?.hasError('required') &&
                password_usuario?.touched
              "
            >
              La contraseña es obligatoria
            </span>
          </div>

          <!-- Campo de repetir contraseña -->
          <div class="form-field">
            <label for="password2">Repite la contraseña*</label>
            <div class="wrapper">
              <input
                id="password2"
                [type]="hide() ? 'password' : 'text'"
                placeholder="Repite tu contraseña"
                formControlName="password2"
                [ngClass]="{
                  invalid:
                    (password2?.invalid && password2?.touched) ||
                    password2?.hasError('PasswordNoMatch')
                }"
              />
              <button
                type="button"
                class="toggle-visibility"
                (click)="clickEvent($event)"
                [attr.aria-label]="'Ocultar contraseña'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon class="icono-input">{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>

            <!-- Error de contraseña no coincide -->
            <span
              *ngIf="
                loginForm.hasError('PasswordNoMatch') && password2?.touched
              "
              class="error"
            >
              Las contraseñas no coinciden
            </span>
          </div>

          <!-- Mensaje de error -->
          <div *ngIf="loginError" class="error-message">
            {{ loginError }}
          </div>

          <span>
            <button mat-button matStepperPrevious>Atrás</button>

            <!-- Botón de inicio de sesión -->
            <button
              type="submit"
              [disabled]="loginForm.invalid || loading"
              class="submit-button"
            >
              <ng-container *ngIf="loading"> Cargando... </ng-container>
              <ng-container *ngIf="!loading">Registrarse</ng-container>
            </button>
          </span>
        </form>
      </mat-step>
    </mat-stepper>
    <div class="internal-form-footer-text">
      <a [routerLink]="'/auth/login'" class="login-link">Iniciar sesión ></a>
    </div>
  </article>
</section>
