<header class="menu-container">
  <a routerLink="/" class="logo"
    ><img src="assets/img/logo_apaisado.png" alt="Inicio"
  /></a>
  <!-- Botón de abrir -->
  <input type="checkbox" id="menu-toggle" #menuToggle />
  <!-- Icono hamburguesa -->
  <label for="menu-toggle" class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <!-- Menú -->
  <nav class="menu">
    <ul>
      <!-- Pendientes de enlazar a sus respectivos componentes -->
      <li>
        <a href="#" (click)="closeMenu(menuToggle)">Gestionar citas</a>
      </li>
      <li>
        <a href="#" (click)="closeMenu(menuToggle)">Historiales médicos</a>
      </li>
      <li>
        <a href="#" (click)="closeMenu(menuToggle)">Recordatorios</a>
      </li>
      <li><a href="#" (click)="closeMenu(menuToggle)">Editar datos</a></li>
    </ul>
    <a class="sesion">
      <button class="boton">
        Log in
        <svg
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 4L7.6 5.4L10.2 8H0V10H10.2L7.6 12.6L9 14L14 9L9 4ZM18 16H10V18H18C19.1 18 20 17.1 20 16V2C20 0.9 19.1 0 18 0H10V2H18V16Z"
            fill="#d6efe5"
          />
        </svg>
      </button>
      <span class="texto" (click)="cerrarSesion()">Cerrar sesión</span>
    </a>
  </nav>
</header>
