<section>
  <h1>Política de Privacidad</h1>
  <p>
    De acuerdo con lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre,
    de Protección de Datos Personales y garantía de los derechos digitales
    (LOPDPGDD) se informa a los usuarios de esta página web sobre el tratamiento
    de sus datos personales.
  </p>

  <h2>Responsable del Tratamiento</h2>
  <p>
    La <em>clínica veterinaria XYZ</em> es la responsable del tratamiento de los
    datos personales recabados a través de este sitio web.
  </p>

  <h2>Finalidad del Tratamiento</h2>
  <p>
    Los datos personales que se recopilen en este sitio web se utilizarán para
    gestionar citas en clínicas veterinarias. Estos datos serán tratados de
    manera confidencial y se utilizarán únicamente con fines operativos y
    comerciales relacionados con el servicio.
  </p>

  <h2>Legitimación</h2>
  <p>
    El tratamiento de los datos personales está basado en el consentimiento del
    usuario, el cual se otorga en el momento de proporcionar los datos para
    utilizar los servicios del sitio.
  </p>

  <h2>Derechos de los Usuarios</h2>
  <p>
    Los usuarios tienen derecho a acceder, rectificar, eliminar, oponerse y
    limitar el tratamiento de sus datos, así como a la portabilidad de los
    mismos. Para ejercer estos derechos, pueden enviar una solicitud por correo
    electrónico a
    <a href="mailto:contacto@veterinariaxyz.com"
      >contacto&#64;veterinariaxyz.com</a
    >
    o mediante correo postal a
    <em>Calle Ejemplo 123, 28000, Ciudad, Provincia</em>.
  </p>

  <h2>Periodo de Conservación de los Datos</h2>
  <p>
    Los datos personales se conservarán durante el tiempo necesario para cumplir
    con la finalidad para la que se recopilaron y para cumplir con las
    obligaciones legales.
  </p>

  <h2>Cesión de Datos</h2>
  <p>Los datos personales no se cederán a terceros, salvo obligación legal.</p>
  <button (click)="closeDialog()">Cerrar</button>
</section>
