<section>
  <h1>Aviso Legal</h1>
  <p>
    En cumplimiento con la Ley 34/2002 de Servicios de la Sociedad de la
    Información y de Comercio Electrónico (LSSI-CE), se informa a los usuarios
    de los datos del responsable de esta página web:
  </p>
  <ul>
    <li><strong>Nombre:</strong> <em> Clínica Veterinaria XYZ</em></li>
    <li><strong>CIF:</strong> <em> XXXXXXXXXX</em></li>
    <li>
      <strong>Dirección:</strong>
      <em> Calle Ejemplo 123, 28000, Ciudad, Provincia</em>
    </li>
    <li>
      <strong>Correo Electrónico:</strong>
      <a href="mailto:contacto@veterinariaxyz.com">
        contacto&#64;veterinariaxyz.com</a
      >
    </li>
    <li><strong>Teléfono:</strong> <em> +34 600 000 000</em></li>
  </ul>
  <button (click)="closeDialog()">Cerrar</button>
</section>
