@import "src/styles/variables";

.servicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  h4 {
    padding: 0.5rem 2rem;

    background-color: $primary-900;
    color: $gray-100;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    font-family: $fuente-titulos;
    font-size: 24px;
    font-weight: 400;
  }

  .carousel {
    img {
      border-radius: 5px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 50%;
    margin: 0 auto;

    h4 {
      font-size: 48px;

      border-radius: 40px;

      padding: 1rem 2rem;
    }
  }
}
