@import "src/styles/variables";

.card {
  width: 324px;
  height: 100%;

  background-color: $primary-600;
  color: $primary-900;
  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;

  p {
    margin: 0;
    font-size: 12px;

    color: $primary-900;
  }

  h5 {
    background-color: $primary-100;
    padding: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $fuente-titulos;
  }

  h6 {
    font-weight: 500;
    font-size: 20px;
  }

  @media screen and (min-width: 1024px) {
    width: 486px;
    padding: 1.5rem;
    font-size: 30px;

    h5 {
      width: 40px;
      height: 40px;
    }

    h6 {
      font-size: 18px;
    }
  }
}
