@import "src/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::ng-deep app-header-usuario {
  .menu-container {
    position: sticky !important;
  }
}

main {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }

    .card_mascota {
      //border: 1px solid $primary-900;
      border-radius: 5px;
      box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
      background-color: $primary-100;

      display: flex;
      padding: 1rem 2rem;
      gap: 1rem;

      img {
        width: 100px;
        height: 100px;

        border-radius: 50%;
        object-fit: cover;
      }
      .datos {
        h2 a {
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }

        a {
          color: $primary-900;
          text-decoration: none;

          display: flex;
          align-items: center;
          gap: 5px;

          font-size: 16px;
        }
      }
    }

    .add {
      border: none;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background-color: $primary-900;
      color: $primary-100;
      font-size: 2rem;
    }
  }
}
