@import "src/styles/variables";
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    color: $primary-900;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
  }

  .filtro {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
  }

  .citas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;

      p {
        margin: 0;
      }
    }

    .card-cita {
      border-radius: 5px;
      box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
      background-color: $primary-100;
      border-bottom: 2px solid $primary-900;

      width: 400px;

      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      gap: 0.5rem;

      h3 {
        font-size: 30px;
        font-weight: 600;
        color: $primary-900;
      }

      p {
        font-size: 16px;
      }

      .opciones {
        display: flex;
        gap: 1rem;

        span {
          cursor: pointer;
        }
      }
    }
  }

  mat-expansion-panel {
    border: 2px solid $primary-900;
    background-color: $gray-100;

    mat-expansion-panel-header {
      mat-panel-title {
        h3 {
          margin: 0;
          color: $primary-900;
        }
      }
    }
  }

  &::-webkit-scrollbar-track {
    padding: 2px 0;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #b5b2be;
  }
}
