<section class="titulo">
  <ng-container *ngIf="!esEdicion">
    <svg
      (click)="atras()"
      width="24"
      height="16"
      viewBox="0 0 24 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M24 6.66667H5.10667L9.88 1.88L8 0L0 8L8 16L9.88 14.1067L5.10667 9.33333H24V6.66667Z"
        fill="#205047"
      />
    </svg>
  </ng-container>
  <ng-container *ngIf="!esEdicion; else editar">
    <h2>Historial</h2>
  </ng-container>
  <ng-template #editar>
    <span></span>
    <h2>Nuevo historial</h2>
  </ng-template>

  <span></span>
</section>

<section class="formulario">
  <form [formGroup]="datosHistorial" (submit)="onSubmit()">
    <!-- Campo mascota -->
    <div class="form-field">
      <label for="id_mascota">Mascota</label>
      <div class="wrapper">
        <input
          type="text"
          name="id_mascota"
          id="id_mascota"
          formControlName="id_mascota"
          readonly
        />
      </div>
    </div>

    <!-- Campo fecha y hora -->
    <div class="form-field">
      <label for="fecha_y_hora">Fecha</label>
      <div class="wrapper">
        <input
          type="text"
          name="fecha_y_hora"
          id="fecha_y_hora"
          formControlName="fecha_y_hora"
          readonly
        />
      </div>
    </div>

    <!-- Campo motivo -->
    <div class="form-field">
      <label for="motivo">Motivo*</label>
      <div class="wrapper">
        <input
          type="text"
          name="motivo"
          id="motivo"
          formControlName="motivo"
          (ngModelChange)="recogerDatos($event, 'motivo')"
          [readonly]="!esEdicion"
        />
      </div>
    </div>

    <!-- Campo anotaciones -->
    <div class="form-field">
      <label for="anotaciones">Anotaciones*</label>
      <div class="wrapper textarea">
        <textarea
          name="anotaciones"
          id="anotaciones"
          formControlName="anotaciones"
          (ngModelChange)="recogerDatos($event, 'anotaciones')"
          [readonly]="!esEdicion"
        ></textarea>
      </div>
    </div>

    <button
      *ngIf="esEdicion"
      type="submit"
      [disabled]="datosHistorial.invalid"
      class="submit-button"
    >
      Añadir historial
    </button>
  </form>
</section>
